name: Build & Deploy

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  
  build:
    
    runs-on: ubuntu-latest

    steps:      
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.11

      - name: Clone bloget repository
        run: git clone "https://${{ secrets.ACCESS_TOKEN }}@github.com/vkostyanetsky/Bloget.git" --branch main --single-branch bloget

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r bloget/requirements.txt

      - name: Clone static repository
        run: git clone "https://${{ secrets.ACCESS_TOKEN }}@github.com/vkostyanetsky/kostyanetsky.ru-static.git" --branch master --single-branch static

      - name: Install bloget
        run: pip install -e .
        working-directory: bloget

      - name: Generate static pages
        run: bloget build --url=https://kostyanetsky.ru --templates=bloget/templates --assets=bloget/assets --output=static

      - name: Set git config and add changes
        run: |
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com/"
          git config --global user.name "${GITHUB_ACTOR}"
          git add --all        
        working-directory: static
        
      - name: Push and send notification
        run: |
          COMMIT_MESSAGE="Update at $(date +'%Y-%m-%d %H:%M:%S')"          
          git diff-index --quiet --cached HEAD -- && echo "No changes!" && exit 0 || echo $COMMIT_MESSAGE
          git commit -m "${COMMIT_MESSAGE}"
          git push
        working-directory: static